{**
 * @param Filter                         $filter
 * @param Nette\Forms\Controls\SelectBox $input
 *}

{if $outer}
	<div class="row">
		{label $input class => 'col-sm-3 control-label' /}
		<div class="col-sm-9">
			{input $input class => 'o-input o-input--select'}
		</div>
	</div>
{else}
	{input $input class => 'o-input o-input--select'}
{/if}
