{*
 * @param Paginator $paginator
 * @param array     $steps
 * @param string    $iconPrefix
 *}

{var $link = [$control->getParent(), link]}

<ul class="o-paginator" n:if="$paginator->pageCount > 1">
	{if $paginator->isFirst()}
		<!--li class="o-paginator__arrow">{ icon 'arrow-left' }</li-->
	{else}
		<li class="o-paginator__arrow"><a class="ajax" href="{$link('page!', ['page' => $paginator->page - 1])}" rel="prev">{icon 'arrow-left'}</a></li>
	{/if}

	{foreach $steps as $step}
		{if $step == $paginator->page}
			<li class="o-paginator__item is-active">{$step}</li>
		{else}
			<li class="o-paginator__item"><a class="ajax" href="{$link('page!', ['page' => $step])}">{$step}</a></li>
		{/if}

		{if $iterator->nextValue > $step + 1}
			<li class="o-paginator__item">...</li>
		{/if}
	{/foreach}

	{if $paginator->isLast()}
		<!--a class="first btn btn-sm btn-default btn-secondary disabled">{* ='ublaboo_datagrid.next'|translate *}</a-->
	{else}
		<li class="o-paginator__arrow"><a class="ajax" href="{$link('page!', ['page' => $paginator->page + 1])}" rel="next">{icon 'arrow-right'}</a></li>
	{/if}
</ul>
